extends layout.pug

block body
  div#map
  div.inner
    h1 BikeMoves Data
    if permissions['view trip details']
      div#filter-help.map-pane
        a.close-pane.toggle-filter-help(href='#' aria-label='Close filters help') x
        h2 Using Filters
        p
          | Filters can be used to limit the results displayed in the data
          | view. Each filter consists of a #[strong variable], an
          | #[strong operator], and a #[strong value]. Valid operators are
          | #[em <], #[em <=], #[em =], #[em >=], and #[em >].
          | Variables and values appear in the tables below.
        h3 User Filters
        - let filters = userFilters;
        include filters.pug
        h3 Trip Filters
        - filters = tripFilters;
        include filters.pug
      div#trips-list.map-pane
        a.close-pane.toggle-trips-list(href='#' aria-label='Close trips table') x
        h2 Browse Trips
        div#trips-table-wrapper
          div#trips-header-scroll
            table#trips-header.trips-table
              thead
                tr
                  th ID
                  th Date
                  th Start Time
                  th Duration
                  th Distance
                  th Origin
                  th Destination
                  th User
          div#trips-scroll.clusterize-scroll
            table#trips.trips-table
              tbody#trips-content.clusterize-content
    div#map-controls-container
      h2
        a#toggle-map-controls(href='#') Map Options
          i.fa.fa-caret-down(aria-hidden='true')
          i.fa.fa-caret-right(aria-hidden='true')
      div#map-controls
        label#map-view-label.field-label(for='map-view')
          if permissions['view trip details']
            a.toggle-trips-list(href='#' aria-label='Show/hide trips table') Trips Table
          | Map View
        select#select-map-view(name='map-view')
          each view in views
            option(value=view.id)= view.title
        if permissions['view trip details']
          h3.field-label
            a.toggle-filter-help(href='#' aria-label='Show/hide filters help') Help
            a#clear-filters(href='#' aria-label='Clear filters') Clear
            | Filters
          div#filters.clearfix
        h3 Legend
        div#map-legend
          each layer in layers
            label(for=layer.id id='legend-item-' + layer.id class='legend-item legend-item-' + layer.type)
              input(type='checkbox' name=layer.id checked='checked')
              span.legend-symbol
              span.label= layer.title
              if layer.layers
                for layerName in layer.layers
                  span.legend-layer
                    span.legend-symbol
                    span.label= layerName
        div#chart-edge-color.chart-wrapper
        h3 Details
        each view in views
          p(class='view-info info-' + view.id)= view.description
